.ap{
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 36px;
    /* text-align: center; */
    color: #FFCE6D;
}
.di{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFC;
}

